.grid-main {
  padding-top: 6em;
  height: 100%;
}

.subheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2em;
}

.back-btn {
  background-color: transparent;
}

.subheader-btns {
  display: flex;
  gap: 1em;
}

.select-all-btn {
  background-color: var(--border);
  padding: 0.5em 1em;
  border-radius: 0.5em;

  .select-circle {
    width: 0.5em;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--background);
    transition: 0.3s ease-in-out;
  }
  .select-circle.selected {
    background-color: var(--accent);
  }
}
.select-all-btn:hover,
.select-all-btn:focus {
  box-shadow: 0 0 5px var(--border);
}

.export-btn {
  background-color: var(--accent);
  padding: 0.5em 1em;
  border-radius: 0.5em;
  color: var(--background-secondary);
}
.export-btn:hover,
.export-btn:focus {
  background-color: var(--accent-secondary);
  box-shadow: 0 0 5px var(--accent-secondary);
}

.flashcard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2em;
  padding: 2em;
}

.flashcard {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border: thin solid var(--border);
  border-radius: 0.5em;
  cursor: pointer;
  box-shadow: 0 0 3px var(--border);
  transition: 0.3s ease-in-out;
  background-color: var(--background-secondary);

  p {
    padding: 0.5em;
  }
  p:first-child {
    border-bottom: thin solid var(--border);
    transition: 0.3s ease-in-out;
  }
}
.flashcard.selected {
  border-color: var(--accent);
  box-shadow: 0 0 3px var(--accent);

  p:first-child {
    border-color: var(--accent);
  }
}
