*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary: #222;
  --secondary: #444;
  --background: #ccc;
  --background-secondary: #ddd;
  --border: #aaa;
  --accent: #05d;
  --accent-secondary: #03c;
  --danger: #c33;
  --danger-secondary: #b22;
  --warning: #ff0;
  --warning-secondary: #ee0;

  --semibold: 600;
}

html {
  /* color-scheme: light dark; */
  color: var(--primary);
  background-color: var(--background);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --primary: #eee;
    --secondary: #ccc;
    --background: #444;
    --background-secondary: #222;
    --border: #aaa;
    --accent: #05d;
    --accent-secondary: #03c;
    --danger: #c33;
  }

  html {
    color-scheme: dark;
  }
} */

#root {
  height: 100vh;
}

a {
  text-decoration: none;
  color: var(--accent);
}

li {
  text-decoration: none;
}

input,
textarea {
  font-size: 1rem;
  padding: 0.5em;
  border: thin solid var(--border);
  outline: none;
  border-radius: 0.25em;
  background-color: var(--background-secondary);
  color: var(--primary);
}

button {
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5em;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.3s ease-in-out;
}

select {
  background-color: transparent;
  border: thin solid var(--border);
  border-radius: 0.5em;
  padding: 0.25em 0.5em;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
}

.title {
  position: absolute;
  top: 1em;
  left: 1em;
  font-size: 2rem;
  font-weight: var(--semibold);
}
